@import url(http://weloveiconfonts.com/api/?family=entypo|fontawesome);
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'fontawesome', sans-serif;
}

body {
  background: #95a5a6;
  font-family: 'Nunito', sans-serif;
}

div.conversation {
  background-image: url('https://cdn.hipwallpaper.com/m/60/39/9vsJ5D.png');
  color: #ecf0f1;
  font-size: 1.3em;
  margin: 2em auto;
  
  overflow: hidden;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  border-radius: 0.4em;
}
div.conversation .status-bar {
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.7);
  text-align: right;
}
div.conversation .status-bar div {
  display: inline-block;
}
div.conversation .status-bar .time {
  font-size: 0.8em;
}
div.conversation .heading .convn-info {
  text-align: center;
  font-size: 2em;
}
div.conversation .krm {
  background: #3498db;
  
  float: left;
  padding: 1em;
  
  text-align: left;
  -moz-border-radius: 1em 1em 1em 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em 1em 1em 1em;
}
div.conversation .luky {
  background:yellow;
  color: #3498db;
  float: right;
  padding: 1em;
  -moz-border-radius: 1em 1em 1em 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em 1em 1em 1em;
}

div.conversation .krm,
div.conversation .luky {
  clear: both;
  margin: 0.2em 0;
  max-width: 80%;
  min-width: 0%;
}
div.conversation .krm:hover .message-time,
div.conversation .luky:hover .message-time {
  opacity: 1;
}
div.conversation .krm .message-time {
  color: rgba(236, 240, 241, 0.5);
  float: right;
  font-size: 0.7em;
  opacity: 0;
  position: relative;
  margin: -2.5em -4.1em;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
div.conversation .luky .message-time {
  color: rgba(236, 240, 241, 0.5);
  float: left;
  font-size: 0.7em;
  opacity: 0;
  position: relative;
  margin: -2.5em -4.1em;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
div.conversation .krm .message-time:before,
div.conversation .luky .message-time:before {
  content: ' ' '\1f554' ' ';
  font-family: 'entypo', sans-serif;
}
div.conversation div:last-child {
  margin-bottom: 0;
}
div.conversation ::selection {
  background: #34495e;
}
div.conversation ::moz-selection {
  background: #34495e;
}

.kaushalya {
  bottom: 0.4em;
  color: #ecf0f1;
  position: fixed;
  right: 0.4em;
}
.kaushalya a {
  border-bottom: 0.1em solid;
  color: inherit;
  text-decoration: none;
}
